DORMS: Building issue/ YANG

Also moving Jakes comments for Dorms from the DOC:

Jake:  building the draft without this line produces a warning about no reference to [[RFC6991](https://maxf12.github.io/ietf-dorms-cluster/draft-ietf-mboned-dorms.html#RFC6991)] or [[RFC8294](https://maxf12.github.io/ietf-dorms-cluster/draft-ietf-mboned-dorms.html#RFC8294)], but these are imported in the yang model. RFC 8407 requires the normative reference to 8294 (there's an exception for 6991 but I'm not sure why and it doesn't seem forbidden).